.card {
  transition: all 0.3s;
  display: flex;
  flex-direction: row;
  height: 50vh;
  background-color: white;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.cardImage {
  width: 50%;
  height: 100%;
}

.cardImage img {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px 10px 0px 0px !important;
}

.cardContent {
  background: white;
  height: 50%;
  display: flex;
  align-self: center;
  margin: 0px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px !important;
  position: relative;
}