.input-search {
  display: inline-block;
  max-width: 500px;
  background-color: white !important;
  padding-left: 10px !important;
  border-bottom: 0px solid #9e9e9e !important;
}

.input-search:focus {
  border-bottom: 0px solid #26a69a !important;
  -webkit-box-shadow: 0 0px 0 0 #26a69a !important;
  box-shadow: 0 0px 0 0 #26a69a !important;
}
