.ItemsBrowser {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Browser__Container {
  width: 100%;
}

.Items__Container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Items__Container > * {
  max-width: 200px;
}
